node_modules/
build/
dist/
.bun/
bun.lock
bun.lockb
*.tsbuildinfo
*.log
pnpm-debug.log
.env
.env.local
.env.*.local
coverage/
.playwright/
test-results/
e2e-ui-results/
.server-port
**/.DS_Store
**/package-lock.json
!pnpm-lock.yaml
